[submodule "src/github.com/jtolds/gls"]
	path = src/github.com/jtolds/gls
	url = https://github.com/jtolds/gls
[submodule "src/github.com/smartystreets/goconvey"]
	path = src/github.com/smartystreets/goconvey
	url = https://github.com/smartystreets/goconvey
[submodule "src/github.com/zeebo/bencode"]
	path = src/github.com/zeebo/bencode
	url = https://github.com/zeebo/bencode
